# ---> Python
# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so
*.dylib

# Unit test / coverage reports
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version

# Environments
.venv

# Build Outputs
**/target/
**/dist/

# custom files
**/.DS_Store
.idea/
.metals/
.vscode/

# Rust-specific
Cargo.lock

# C-specific
matcher_c/tests/test_matcher

# Java-specific (matcher_java)
matcher_java/src/main/resources/*
matcher_java/*.class
matcher_java/.classpath
matcher_java/.project