[package]
name = "matcher_rs"
authors.workspace = true
categories.workspace = true
description.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true
rust-version.workspace = true
readme = "README.md"
documentation = "https://docs.rs/crate/matcher_rs/latest"
build = "build.rs"

[package.metadata.docs.rs]
rustc-args = ["-C", "target-feature=native"]
rustdoc-args = ["-C", "target-feature=native", "--document-private-items"]

[lib]
name = "matcher_rs"
crate-type = ["rlib"]

[dependencies]
ahash = { version = "0.8.11", features = ["serde", "compile-time-rng"] }
# aho-corasick = "1.1.3"
aho-corasick-unsafe = { version = "0.0.4", git = "https://github.com/Lips7/aho-corasick" }
bitflags = { version = "2.6.0", features = ["serde"] }
daachorse = "1.0.0"
fancy-regex = "0.13.0"
lazy_static = "1.5.0"
nohash-hasher = "0.2.0"
parking_lot = { version = "0.12.3", features = ["hardware-lock-elision"]}
rapidfuzz = "0.5.0"
regex = { version = "1.10.5", features = ["perf-dfa-full"] }
serde = { version = "1.0.204", features = ["derive"] }
sonic-rs = "0.3.8"
tinyvec = { version = "1.8.0", features = ["alloc", "serde"] }

[target.'cfg(all(target_os = "linux", target_arch = "aarch64"))'.dependencies]
tikv-jemallocator = "0.5.4"

[target.'cfg(not(all(target_os = "linux", target_arch = "aarch64")))'.dependencies]
mimalloc = "0.1.43"

[build-dependencies]
daachorse = "1.0.0"

[dev-dependencies]
divan = "0.1.14"
fastrand = "2.1.0"

[features]
default = ["prebuilt"]
# By enable prebuilt feature, we could boost process matcher build time, but with package size increasing.
prebuilt = []
# By enable runtime_build feature, we could build process matcher at runtime, but with build time increasing.
runtime_build = []
# By enable serde feature, we could serialize and deserialize matcher and simple_matcher.
# With serde feature, AhoCorasick's prefilter is disabled, because I don't know how to serialize it correctly,
# which will lead to performance regression when the patterns size is small (say, less than 100).
serde = ["aho-corasick-unsafe/serde"]

[[bench]]
name = "bench"
harness = false

[[bench]]
name = "bench_test"
harness = false
