[package]
name = "matcher_rs"
authors.workspace = true
categories.workspace = true
description.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true
readme = "README.md"

[package.metadata.docs.rs]
rustc-args = ["-C", "target-feature=+aes"]
rustdoc-args = ["-C", "target-feature=+aes"]

[lib]
name = "matcher_rs"
crate-type = ["rlib"]

[[bench]]
name = "bench"
harness = false

[dependencies]
ahash = { version = "0.8.11", features = ["serde", "compile-time-rng"]}
aho-corasick = "1.1.3"
bitflags = { version = "2.5.0", features = ["serde"] }
fancy-regex = "0.13.0"
nohash-hasher = "0.2.0"
rapidfuzz = "0.5.0"
regex = "1.10.5"
serde = { version = "1.0.203", features = ["derive"] }
sonic-rs = "0.3.7"
tinyvec = { version = "1.6.0", features = ["alloc"] }

[target.'cfg(all(target_os = "linux", target_arch = "aarch64"))'.dependencies]
tikv-jemallocator = "0.5.4"

[target.'cfg(not(all(target_os = "linux", target_arch = "aarch64")))'.dependencies]
mimalloc = "0.1.42"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
