[package]
name = "matcher_rs"
authors.workspace = true
categories.workspace = true
description.workspace = true
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true
readme = "README.md"
documentation = "https://docs.rs/crate/matcher_rs/latest"
build = "build.rs"

[package.metadata.docs.rs]
rustc-args = ["-C", "target-feature=native"]
rustdoc-args = ["-C", "target-feature=native", "--document-private-items"]

[lib]
name = "matcher_rs"
crate-type = ["rlib"]

[[bench]]
name = "bench"
harness = false

[dependencies]
ahash = { version = "0.8.11", features = ["serde", "compile-time-rng"] }
aho-corasick = "1.1.3"
bitflags = { version = "2.5.0", features = ["serde"] }
cached = "0.51.4"
daachorse = "1.0.0"
fancy-regex = "0.13.0"
nohash-hasher = "0.2.0"
rapidfuzz = "0.5.0"
serde = { version = "1.0.203", features = ["derive"] }
sonic-rs = "0.3.7"
tinyvec = { version = "1.6.0", features = ["alloc"] }

[target.'cfg(all(target_os = "linux", target_arch = "aarch64"))'.dependencies]
tikv-jemallocator = "0.5.4"

[target.'cfg(not(all(target_os = "linux", target_arch = "aarch64")))'.dependencies]
mimalloc = "0.1.42"

[build-dependencies]
daachorse = "1.0.0"
sonic-rs = "0.3.7"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
fastrand = "2.1.0"

[features]
default = ["prebuilt"]
prebuilt = []
runtime_build = []
